@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
  
.fundo {
    background-image: url("../assets/background.svg");
    background-size: cover; 
    /* width: 100%;
    height: 100%; */
    font-family: "Viga", sans-serif;
    color: rgb(79, 8, 58);
    text-align: center;
    border-bottom: 300px solid rgb(248, 174, 197);
}

.calculadora {
    position: absolute;
    background-color: rgba(230, 84, 149, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(219, 0, 99);
    border: none;
    color: white;
    margin: 3px;
    border-radius: 9px;
    font-size: large;
}

#botao-custom {
    font-weight: 700;
}

.botao:hover{
    background-color: rgb(255, 123, 182);
}

#resultado{
    width: 207px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 9px;
}

.conteiner-pai{
    display: flex;
}

.flowers{
    position: absolute;
    bottom: 0; 
    max-width: 100%;
    left: 0; 
    background-position: right bottom;
}

.hello-kitty{
    position: absolute;
    bottom: 0; 
    max-width: 100%;
    left: 0; 
}

.frogs{
    position: absolute;
    bottom: 0; 
    max-width: 100%;
    right: 0;
}
.clouds{
    position: absolute;
    width: 550px;
    max-height: 100%;
    animation: clouds-animation 20s infinite linear;
}



@keyframes clouds-animation {
    from {
        right: 0;
    }
    
    to {
        right: 100%;
    }
}