@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Viga", sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
  
.fundo {
    position: absolute;
    background-image: url("../assets/background.svg");
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    color: rgb(79, 8, 58);
    /* text-align: center; */
    /* border-bottom: 300px solid rgb(248, 174, 197); */
}

.footer {
    position: absolute;
    width: 100vh;
    background-color: #F8AEC5;
    /* bottom: 0; */
}

.calculadora {
    position: absolute;
    background-color: rgba(230, 84, 149, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(219, 0, 99);
    border: none;
    color: white;
    margin: 3px;
    border-radius: 9px;
    font-size: large;
    font-family: "Viga", sans-serif;
}

#botao-custom {
    font-weight: 700;
}

.botao:hover{
    background-color: rgb(255, 123, 182);
}

#resultado{
    width: 207px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 9px;
    border: 2px solid  rgb(79, 8, 58);
}

.conteiner-pai{
    display: flex;
}

.flowers{
    position: absolute;
    bottom: 0; 
    max-width: 100%;
    margin-bottom: 15%;
    background-position: right bottom;
}

.hello-kitty{
    position: absolute;
    bottom: 0; 
    max-width: 100%;
    left: 0; 
    z-index: 10;
}

.frogs{
    position: absolute;
    bottom: 0; 
    max-width: 100%;
    right: 0;
    z-index: 10;
}

.clouds{
    position: absolute;
    margin-top: 1%;
    width: 550px;
    max-height: 100%;
    animation: clouds-animation 20s infinite linear;
}

.clouds-two {
    position: absolute;
    margin-top: 1%;
    margin-right: 100%;
    width: 550px;
    max-height: 100%;
    animation: clouds-animation 20s infinite linear;
}


@keyframes clouds-animation {
    from {
        right: -150%;
    }
    
    to {
        right: 100%;
    }
}

@keyframes clouds-two-animation {
    from {
        right: -170%;
    }
    
    to {
        right: 100%;
    }
}